<nav class="navbar bg-light navbar-light">
  <span class="navbar-brand">Book Rating</span>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/books" i18n="@@navdashboard">Dashboard</a>
    </li>

    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/books/create" i18n="@@navcreate">Buch erstellen</a>
    </li>

    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/books/search" i18n="@@navsearch">Suche</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h1>{{ title }}</h1>
  <div>
    <ng-container i18n="@@labeldate">Datum</ng-container>: {{ d | date:'fullDate' }}
  </div>

  <router-outlet></router-outlet>
</div>
