<div class="card mb-4">
  <div class="card-body bg-light">
    <img src="//api.angular.schule/avatar/{{ book.rating }}" alt="Avatar" class="img-thumbnail float-right">

    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>

    <p>{{ book.description }}</p>

    <p>
      <span *ngFor="let x of getRating()">⭐️</span>
    </p>

    <button class="btn btn-success mr-2" (click)="doRateUp()" data-testid="rateUpBtn"> + </button>
    <button class="btn btn-danger mr-2" (click)="doRateDown()"> – </button>

    <a [routerLink]="['/books', book.isbn]">Details</a>
  </div>
</div>

{{ log() }}


// Link Detailseite > Dashboard
// Navbar: in AppComponent
